@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;1,700&family=Rubik:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-container {
    @apply font-mainFont;
  }
  .nav {
    @apply flex justify-between items-center w-full z-20 p-4 md:px-12 lg:px-24 py-3 top-0 sm:px-12 left-0 mb-1;
    background-color: white;
  }
  .phoneNavLinks {
    @apply text-center bg-VeryLightGray rounded-md w-10/12  absolute top-24 left-1/2 transform -translate-x-1/2 z-50 transition-all;
  }
  .phoneNavLinks ul {
    @apply text-black;
  }
  .navLinks {
    @apply hidden flex-row md:flex items-center space-x-5;
  }
  .Request-btn {
    @apply rounded-full text-VeryLightGray  bg-gradient-to-r from-limeGreen to-brightCyan hover:opacity-80 transition-all;
  }
  .navLink {
    @apply relative text-GrayishBlue hover:text-black  py-3 after:absolute after:w-full after:h-1 after:-bottom-5 after:left-0 after:bg-transparent hover:after:bg-gradient-to-r from-limeGreen to-brightCyan transition-all;
  }
  .landing {
    @apply relative  mb-16 md:mb-0 flex flex-col justify-between;
    background: url("components/images/mockupsImg.png"),
      url("components/images/bg-intro-mobile.svg");
    background-position: center -8rem, center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vw;
  }
  @media (min-width: 768px) {
    .landing {
      background: url("components/images/mockupsImg.png"),
        url("components/images/bg-intro-desktop.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 60vw;
      background-position: 59vw -7vh, 49vw -13vh;
    }
  }
  @media (min-width: 1024px) {
    .landing {
      background-position: 59vw -15vh, 49vw -23vh !important;
    }
  }

  .landing-after {
    @apply after:absolute after:h-full after:bg-gradient-to-b after:top-0 after:left-0 from-darkBlue after:w-full to-transparent after:z-40 transition-all;
  }

  .landing-text {
    @apply flex p-2 flex-col text-center absolute sm:p-12 sm:pb-0 lg:p-24 py-3 z-20 sm:text-left md:top-12 lg:top-40 lg:pt-8;
    bottom: -40vh;
  }

  .landing-text h1 {
    @apply sm:text-3xl mt-5 lg:text-7xl text-darkBlue font-mainFont;
    font-size: 2.5rem;
    line-height: 1.2;
  }
  .landing-text p {
    @apply text-GrayishBlue text-sm my-5 lg:text-base;
  }
  .landing-btn {
    @apply Request-btn text-center m-auto sm:mx-0;
    width: fit-content;
    padding: 0.75rem 2rem;
  }
  .landing-shadow {
    @apply h-screen bg-darkBlue z-30;
  }
  @media (min-width: 950px) {
    .landing-text {
      top: 11vh;
    }
  }

  @media (min-width: 1024px) {

    .landing-text {
      top: 15vh;
    }
  }

  .main {
    margin-top: 40vh;
    @apply absolute w-full;
    z-index: -1;
  }
  @media (min-width: 640px) {
    .main {
      top: 63rem;
      margin-top: 0vh;
    }
  }
  @media (min-width: 690px) {
    .main {
      margin-top: 7vh;
    }
  }

  @media (min-width: 768px) {
    .landing-text {
      width: 55%;
      height: fit-content;
      padding-bottom: 3rem;
    }
    .landing-text h1 {
      font-size: 2.5rem;
      line-height: 1.2;
    }
    .landing-text button {
      @apply mt-4;
    }
    .main {
      top: 46rem;
      margin-top: -32vh;
    }
  }
  @media (min-width: 950px) {
    .main {
      margin-top: -20vh;
    }
  }
  .Advantages {
    @apply p-4 md:px-12 pb-16 lg:py-16 lg:px-24 bg-LightGrayishBlue pt-16 md:pt-4 lg:w-full;
    z-index: -1;
  }
  .Advantages-text {
    @apply text-center md:text-left mb-12 p-4;
  }
  .Advantages-text h2,
  .articles-container h2 {
    @apply text-4xl text-darkBlue font-light  font-mainFont;
  }
  .Advantages-text p {
    @apply text-GrayishBlue text-sm my-5 lg:text-base;
  }
  .advantages-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
  }
  .card-container {
    @apply text-center md:text-left;
  }
  .card-container .card-img {
    @apply flex justify-center md:justify-start mb-6;
  }
  .card-container img {
    max-width: 25%;
  }
  .card-container h3 {
    @apply text-2xl text-darkBlue mb-6;
  }
  .card-container p {
    @apply text-GrayishBlue;
  }
  .articlesCards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 4rem 25px;
    padding: 1rem;
  }
  .articles-container {
    @apply p-4 sm:px-8 md:px-12 lg:px-24 mt-16;
  }
  .articles-container h2 {
    @apply mb-10  text-center md:text-left rounded-md;
  }
  .articles-container {
    @apply rounded-md overflow-hidden mb-16;
  }
  .articles-container img {
    transform: scale(1.029);
  }
  .article {
    @apply rounded-md overflow-hidden pb-16;
  }
  .article-text {
    @apply p-5;
  }
  .article-text .article-auther {
    @apply text-GrayishBlue text-xs;
  }
  .article-text h3 {
    @apply py-2 text-darkBlue hover:text-limeGreen transition-all;
  }
  .article-text p {
    @apply text-GrayishBlue text-sm;
  }
  @media (min-width: 914px) {
    .article .article-img {
      height: 25vh;
    }
  }
  @media (min-width: 768px) {
    .article .article-img {
      height: 31vh;
      width: 100%;
    }
  }
  @media (min-width: 615px) {
    .article .article-img {
      height: 22vh;
      width: 100%;
    }
    .articlesCards-container {
      @apply p-0;
    }
  }
  footer {
    @apply relative bg-darkBlue mt-16 py-10 items-center;
    width: 100%;
    color: white;
  }

  ul {
    @apply list-none p-4 md:px-12 lg:px-24;
    color: white;
  }
  footer ul li {
    @apply text-center mb-4 hover:text-limeGreen transition-all;
  }
  footer div {
    @apply flex flex-col w-full text-center items-center;
  }
  .sec-footer-ul {
    @apply pt-0 sm:pt-4;
  }
  .footer-btn {
    @apply mb-8 hover:opacity-100 xl:-mr-12 after:block after:w-full after:h-full after:rounded-full transition-all hover:after:bg-white after:opacity-30 after:absolute after:top-0 after:left-0 relative;
  }
  .footerbtn-container p {
    @apply text-GrayishBlue;
  }
  footer .social-icons {
    @apply pb-0 flex;
  }
  footer .social-icons svg {
    @apply ml-3 transition-all;
  }
  footer .social-icons svg:hover {
    filter: invert(48%) sepia(92%) saturate(383%) hue-rotate(84deg)
      brightness(98%) contrast(88%);
  }
  footer .footer-links-container {
    @apply sm:flex-row;
  }
  footer .footer-links {
    @apply sm:flex-row;
  }
  footer .first-footer-links ul li,
  .sec-footer-links ul li {
    @apply lg:w-28 lg:text-left;
  }
  footer .first-footer-links ul,
  .sec-footer-links ul {
    @apply lg:px-8 xl:px-14;
  }
  .sec-footer-links ul {
    @apply lg:pt-4;
  }
}
